---
let title = 'Tags'

const allPosts = await Astro.glob('../posts/*.{md,mdx}');
const tags = [...new Set([].concat.apply([],allPosts.map(post => post.frontmatter.tags)))]

---

    <main>
        <h1>Tags</h1>
        <div class="flex ">
            {tags.sort().map((tag) => (
                <a  href={`/tags/${tag}`}><p class="ml-2">{tag}</p></a>
            ))}
        </div>
    </main>

    