---
import ihechikara from "/ihechikara-pfp-.jpg";
---

<section class="flex flex-col mx-6 lg:mx-20 text-gray-100 lg:flex-row">

  
  <div class="order-2 mb-2 lg:mb-8 lg:mr-16">
    <img src={ihechikara} class="w-full h-full lg:w-[1200px] lg:h-[800px] xl:w-[1200px] xl:h-[1000px]" />
  </div>

    <div class="order-1 mb-2 lg:hidden">
      <h2 class="order-1 text-3xl font-normal"> IHECHIKARA ABBA </h2>
    </div>
  
  <div class=" order-3 mb-8 lg:mb-0">
    <h2 class="hidden lg:block text-5xl mb-2"> IHECHIKARA ABBA </h2>
    <span class="text-xl"> Web <span class="text-[#87E0B2]">Developer</span> & Technical <span class="text-[#87E0B2]">Writer</span> </span> <br> <br>
    <p class=" order-3 text-base font-normal leading-8 lg:text-xl lg:leading-10 lg:w-[600px]"> 

      I build products on the web using the <span class="text-[#87E0B2]">MERN</span> stack. I write on a variety of topics including <span class="text-[#87E0B2]">web development</span>, <span class="text-[#87E0B2]">embedded systems and IOT</span>, general <span class="text-[#87E0B2]">IT</span> topics, version control, and programming languages like <span class="text-[#87E0B2]">Python</span> and <span class="text-[#87E0B2]">Java</span>. <br> <br>

      You can find most of my articles on <span class="text-[#87E0B2] underline"> <a href="https://www.freecodecamp.org/news/author/ihechikara/" target="_blank"> freeCodeCamp</a> </span> and my blog (you're here already :)). I also write on <span class="text-[#87E0B2] underline"> <a href="https://kinsta.com/blog/author/ihechivinabba/" target="_blank"> Kinsta </a> </span>. <br> <br>

      Click <span class="text-[#87E0B2] underline"> <a href="/blog"> here </a> </span> to explore  my blog posts if you haven't already. 


    </p>
  </div>
</section>