---
import ihechikara from '/ihechikara.svg'
---

<section
  class='px-6 md:w-8/12 font-[Work_Sans] font-normal pb-[10rem] grid grid-cols-1 md:grid-cols-2 xl:pl-[8rem] md:gap-4 lg:gap-5'
>
  <h2
    class='text-[1.3rem] lg:text-[2.4rem] font-semibold leading-[1.56rem] tracking-wider md:tracking-normal mb-8 md:mb-0 md:order-2 lg:mt-[2rem]'
  >
    About Ihechikara
  </h2>

  <img src={ihechikara} class='mb-8 row-span-2 md:order-1 w-full' />
  <p
    class='text-[1rem] leading-6 md:leading-5 lg:leading-7 md:order-2 md:w-[28rem] lg:w-[32.25rem] md:h-[13rem] lg:h-[15rem] md:text-xs lg:text-base text-[#E3E3EA]'
  >
    For athletes, high altitude produces two contradictory effects on
    performance. For explosive events (sprints up to 400 metres, long jump,
    triple jump) the reduction in atmospheric pressure means there is less
    resistance from the atmosphere and the athlete's performance will generally
    be better at high altitude. <br />
    <br />For athletes, high altitude produces two contradictory effects on
    performance. For explosive events (sprints up to 400 metres, long jump,
    triple jump).
  </p>
</section>
