---
import articleImage from '/articleImage.svg'
---

<div class='mb-10'>
  <div class=''>
    <img src={articleImage} class='w-full' />
  </div>
  <p class='text-[0.6rem] my-[0.5rem] font-medium text-[#E3E3EA]'>
    Monday October 10, 2022
  </p>
  <p class='font-normal text-base mb-[0.5rem] max-w-full tracking-widest'>
    TypeScript generics - Use case and examples
  </p>
  <div class='flex justify-between items-center gap-[2rem] mb-8'>
    <p class='text-[0.6rem] font-medium text-[#E3E3EA] pr-[6.8rem]'>
      Author: Ihechikara Vincent
    </p>
    <button class='py-[4px] px-[8px] text-[#232055] bg-[#87E0B2] text-[9px]'
      >Frontend</button
    >
  </div>
  <div
    class='px-[4rem] py-3 border-2 border-[#87E0B2] text-[#87E0B2] border-solid tracking-wider w-full flex justify-center items-center'
  >
    <button>Read article</button>
  </div>
</div>
