---
const today = new Date();
import twitter from "/twitter.svg";
import facebook from "/facebook.svg";
import mail from "/mail.svg";
import linkedin from "/linkedin.svg";
import github from "/github.svg";
---

<footer
  class="px-6 lg:px-[8.3rem] pt-[1.9rem] lg:pt-[3.75rem] bg-[#5A5880] leading-7"
>
  <div class="lg:flex lg:justify-between lg:w-full">
    <div>
      <h1 class="text-2xl lg:text-[2.4rem] font-extrabold mb-8">
        IHECHIKARA<span class="text-[#87E0B2]">.</span>
      </h1>
    </div>
    <div class="">
      <p
        class="font-[Work_Sans] tracking-wider text-base md:text-[1.3rem] mb-2 md:mb-[1rem]"
      >
        Contact me
      </p>
      <div
        class="flex items-center justify:center gap-4 lg:gap-[2.63rem] mb-[3.9rem] cursor-pointer"
      >
      <!-- Twitter -->
        <a
          href="https://twitter.com/Ihechikara2"
          target="_blank"
          class="cursor-pointer md:mb-8 md:h-8 md:w-8"
        >
          <img src={twitter} class="w-[30px] h-[30px] lg:w-full lg:h-full" />
        </a>

        <!-- Mail -->
        <a
          href="mailto:ihechikara.dev@gmail.com"
          target="_blank"
          class="cursor-pointer md:mb-8 md:h-8 md:w-8"
        >
          <img src={mail} class="w-[30px] h-[30px] lg:w-full lg:h-full" />
        </a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/ihechikara-vincent-abba-983a411b9/" target="_blank" class="cursor- md:mb-8 md:h-8 md:w-8">
          <img src={linkedin} class="w-[30px] h-[30px] w-full h-full" />
        </a>
        
        <!-- GitHub -->
        <a
          href="https://github.com/ihechikara"
          target="_blank"
          class="cursor-pointer md:mb-8 md:h-8 md:w-8"
        >
          <img src={github} class="w-[30px] h-[30px] lg:w-full lg:h-full" />
        </a>
      </div>
    </div>
  </div>
  <div class="text-center flex flex-col lg:flex-row lg:justify-center">
    <p class="text-base lg:mr-6 lg:text-lg"> Built with <span class="text-[#87E0B2] underline text-xl font-bold"> <a href="https://astro.build/"> Astro </a> </span></p>
    <p class="text-base lg:mr-6 lg:text-lg"> Styled with <span class="text-[#87E0B2] underline text-xl font-bold"> <a href="https://tailwindcss.com/"> Tailwind CSS </a> </span> </p>
    <p class="text-base lg:text-lg"> Hosted on <span class="text-[#87E0B2] underline text-xl font-bold"> <a href="https://www.netlify.com/">Netlify</a>  </span> </p>
  </div>
</footer>
