<section
  class="bg-[#87E0B2] mb-6 px-6 py-7 md:py-[6.9rem] font-[Work_Sans] text-[#232055] md:flex md:flex-col md:items-center w-full"
>
  <h2
    class="font-normal text-[1.3rem] md:text-[2.37rem] leading-[1.56rem] md:leading-[2.6rem] tracking-wide mb-2 md:mb-3 w-[18.4rem] md:w-[32.8rem] md:font-semibold"
  >
    Subscribe to my Newsletter
  </h2>
  <p
    class="text-[0.6rem] md:text-[1rem] font-medium md:font-normal leading-[0.7rem] md:leading-[1.5rem] mb-6 md:mb-[2.75rem] md:w-[30rem]"
  >
    Stay tuned so you never miss any of our latest updates and new resources. We
    send you these updates just once a week.
  </p>

  <form action="https://ihechikaraabba.podia.com/email_lists/486740/subscriptions" accept-charset="UTF-8" method="post" class="flex items-center text-xs">
    <div class="md:w-[32rem]"><input
      type="email"
      name="email"
      required="required"
      id="email"
      placeholder="Your email address"
      class="py-[1.06rem] md:py-[1.72rem] px-4 md:pl-[3rem] w-full text-[black] cursor-text tracking-wider md:text-[1.3rem] border-none outline-none"
    /></div>
    <input type="submit" value="Sign me up!"
      class="py-[1.0625rem] md:py-[2rem] px-[1rem] md:px-[3.5rem] bg-[#232055] text-[#FFFFFF] tracking-wider cursor-pointer md:text-[1.3rem] "
      />
  </form>
</section>